@*@model IEnumerable<CadastroUF.Models.Usuario>*@
@model X.PagedList.IPagedList<CadastroUF.Models.Usuario>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Usuarios</h1>
<!--Criei o form abaixo para apresentar uma caixa de pesquisa-->
<form asp-controller="Usuarios" asp-action="Index" method="get">
    <p>
        <input type="text" name="Procura" />
        <input type="submit" value="ok" class="btn btn-success" />
    </p>
</form>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label>  <input type="checkbox" /> </label>
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Nome)*@
                    <label>Nome</label>
                </th>
                <th>
                    @* @Html.DisplayNameFor(model => model.NomeMae)*@
                    <label> NomeMae </label>
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Email)*@
                    <label>  Email </label>
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.CPF)*@
                    <label>  CPF </label>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeMae)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.ID"> <i class="fa-solid fa-pen-to-square"></i> Editar</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.ID"> <i class="fa-solid fa-circle-info"></i> Detalhes</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID"><i class="fa-solid fa-trash-can"></i> Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<spam class=" btn btn-paulo1"> @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina })) </spam>



